*
!.gitignore
!README.md
!LICENSE
!Lunarien-s Mental Math Trainer.csproj
!Program.cs
!ProgramLoop.cs
!SessionDefinition.cs
!Training.cs
!FileHandler.cs
!Formatting.cs
!/resources/
!/resources/**
!/README images/
!/README images/**